@mixin nav()
    ul 
        margin: 0
        padding: 0
        display: flex
        align-items: center
        justify-content: center

        li
            list-style-type: none
            display: inline
            a 
                text-decoration: none
                float: left
                padding: 15px 10px
                color: #bdc0c5
                
                &:hover 
                    color: #F7F6F7


.nav > .back
    background: #ccc
    +nav
    
    .container
        display: flex
        width: 1340px
        @media screen and (max-width: 1370px) 
            width: 1060px !important
        
        .left
            display: flex
            
            .logo > a
                background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/2000px-Google_2015_logo.svg.png')
                background-size: contain
                background-repeat: no-repeat
                width: 75px

        .center
            display: flex
            align-items: center
            justify-content: center
            flex: 1
            
        .right
            display: flex
            align-self: flex-end

            ul
                input
                    background: rgba(255,255,255,0.2)
                    border: 1px solid shade(#131418, 20%)
                    transition: all 0.18s
                    
                    &:hover
                        background: rgba(255,255,255,0.3)
                    
                    &:focus
                        color: #131418
                        background: white


