@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700')

html 
    font-family: 'Open Sans', sans-serif
    background: #f1f1f1
    color: $color-grey
    font:
        size: 14px

h1, h2, h3,
h4, h5, h6
    font:
        weight: 100
        
        
p
    line-height: 1.5
    
a
    font-size: 14px
    
input
    padding: 8px
    border-radius: 5px
    outline: none
    color: #bdc0c5
    &:focus
        box-shadow: inset 0 1px 2px rgba(255,255,255,0.075), 0 0 0 0.2em rgba(255,255,255,0.3)